<div id="item">
  <h2><%= @lfi.type_name %> Item Details</h2>

  <div class="button">
    <%= link_to 'Edit Details', edit_lost_and_found_item_path(@lfi), class: 'btn btn-primary' %>
  </div>

  <div id="header">
    <div><strong>Item ID:</strong> <%= @lfi.id %> <strong>Category:</strong> <%= @lfi.category %></div>
    <div><strong>Last updated at</strong> <%= @lfi.updated_at %>
      <% if @lfi.user %>
          by <%= link_to @lfi.user.realname, @lfi.user %> as <%= @lfi.rolename %>
      <% end %>
    </div>
    <div><strong>Description:</strong> <%= @lfi.description %></div>
    <% if @lfi.reported_missing %>
        <div><strong>Where Last Seen:</strong> <%= @lfi.where_last_seen %></div>
        <div><strong>Owner Name:</strong> <%= @lfi.owner_name %></div>
        <div><strong>Owner Contact:</strong> <%= markdown @lfi.owner_contact %></div>
    <% end %>
    <% if @lfi.found %>
        <div><strong>Where Found:</strong> <%= @lfi.where_found %></div>
    <% end %>
    <% if @lfi.returned %>
        <div><strong>Claimed by:</strong> <%= @lfi.who_claimed %></div>
    <% end %>
  </div>
  <div><strong>Details:</strong></div>
  <div><%= markdown @lfi.details %></div>

  <div class="morf_button button">
    <% if !@lfi.returned %>
        <% if @lfi.reported_missing? and !@lfi.found? %>
            <%= link_to "Item Has Been Found", edit_lost_and_found_item_path(@lfi, found: true), class: 'item_found_button btn btn-default' %>
        <% end %>
        <%= link_to "Item Has Been Returned", edit_lost_and_found_item_path(@lfi, returned: true), class: 'item_returned_button btn btn-default' %>
        <% if params[:inventory] && !@lfi.inventoried? %>
            <%= link_to "Item Has Been Inventoried", edit_lost_and_found_item_path(@lfi, inventoried: true, inventory: params[:inventory]), class: 'item_inventoried_button btn btn-default' %>
        <% end %>
    <% end %>
  </div>
</div>
