var update = function () {
    var merge_ids;
    window.events.page = <%= params[:page].nil? ? "1" : params[:page] %>;
    window.events.merge_mode = <%= params[:merge_mode].presence || false %>;
    window.events.convention = <%= convention_param %>;
    $('form #event_list').html('<%= escape_javascript render(@events, form: false) %>');
    $('.paginator').html('<%= escape_javascript(paginate(@events, remote: true).to_s) %>');
    $('#merge-mode-toggle').html('<%= escape_javascript(merge_button) %>');
    $('#merge-mode-submit').html('<%= escape_javascript(merge_submit) %>');

    <% params[:merge_ids].each do |id| %>
        $('input[value="<%= id %>"]').prop("checked", true)
    <% end unless params[:merge_ids].blank? %>
};

update();
$('.efh_list').hide();
$('.event_flag_history').mouseover(function () {
    $(this).find('.efh_list').show()
}).mouseout(function () {
    $(this).find('.efh_list').hide()
});
