.col-md-12
  = form_tag merge_events_events_path, method: :post, id: 'merge-form', class: 'form-horizontal' do
    .form-group
      .col-md-6
        = link_to 'Log New Event', new_event_path, class: 'btn btn-default', type: 'button'
        span#merge-mode-toggle
        span#merge-mode-submit
        - if action_name == 'sticky'
          = label_tag :show_older, 'Show Older'
          = check_box_tag(:show_older, '1', params[:show_older], id: 'show_older')
      .col-md-6
        - if action_name == 'index'
          h2.bg-primary.text-right
            .active-icon
            - if session[:index_filter]
              | Active #{session[:index_filter].keys.first.humanize} Items
            - else
              | Active Items
        - if action_name == 'secure'
          h2.bg-danger.text-right
            .secure-icon
            | Secure Items
        - if action_name == 'sticky'
          h2.bg-warning.text-right
            .sticky-icon
            | Stickies

    -if action_name == 'secure'
      h3.alert-danger Do not leave this screen unattended!

    .form-group
      .col-md-12
        .paginator.pull-left= paginate(@events, remote: true)
    #event_list
      noscript= render @events, form: false
    .form-group
      .col-md-12
        .paginator= paginate @events, remote: true

javascript:
  window.events.getMain(true);
  $('#show_older').change(function () {
    window.events.getMain(true);
  });

- content_for :side do
  .col-md-12.col-sm-12.col-xs-12
    .well.well-sm
      = sidebar_menu
    = render partial: 'index_filters'

- content_for :search do
  = render partial: 'search_form'
