var update = function () {
    var merge_ids;
    window.events.page = <%= params[:page].nil? ? "1" : params[:page] %>;
    window.events.merge_mode = <%= params[:merge_mode].presence || false %>;
    window.events.convention = "<%= params[:convention] %>";
    if (window.events.convention = '')
        window.events.convention = $('#convention').val();
    $('#event_list').html('<%= escape_javascript render(@events, form: false) %>');
    $('.paginator').html('<%= escape_javascript(paginate(@events, params: { anchor: 'top-paginator'}).to_s) %>')
    $('#merge-mode-toggle').html('<%= escape_javascript(merge_button) %>');
    $('#merge-mode-submit').html('<%= escape_javascript(merge_submit) %>');

    <% params[:merge_ids].each do |id| %>
        $('input[value="<%= id %>"]').prop("checked", true)
    <% end unless params[:merge_ids].blank? %>
}

update();
