/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*!= require 'formtastic'
*!= require_self
*!= require_tree .
*/

// OVERRIDES for BOOTSTRAP
$font-size-base: 16px !default;
$form-group-margin-bottom: 6px;
$nav-link-padding: 5px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "colors";
@import "select2";
@import "select2-bootstrap";

@import 'admin';
@import 'audit';
@import 'con_on_rails';
@import 'contacts';
@import 'departments';
@import 'duty_board';
@import 'duty_board_assignments';
@import 'duty_board_slots';
@import 'events';
@import 'login_log';
@import 'lost_and_found';
@import 'lost_and_found_items';
@import 'radio_admin';
@import 'radio_assignment_audits';
@import 'radio_groups';
@import 'radios';
@import 'roles';
@import 'scaffolds';
@import 'sessions';
@import 'users';
@import 'version';
@import 'volunteer_trainings';
@import 'volunteers';
@import 'vsps';

@import 'formtastic';
@import 'my_formtastic_changes';

.convention-filter
{
  @extend .col-md-12;
  @extend .col-sm-12;
}

// Some overrides have to be here
.formtastic input[type='submit'] {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-lg;
}

//@import url(http://fonts.googleapis.com/css?family=Nunito:400,700,300);
//@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext);
//@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
  min-width: 480px;
  margin: auto;
  padding: 0;
  //  font-family: Verdana, Geneva, sans-serif;
  //  font-size: 0.9em;
  background-color: white;
  color: #333;
}

nav.pagination {
  padding-bottom: 1em;
  padding-top: 1em;
  margin: 0;

  .current {
    font-weight: bold;
    background-color: $green_desat;
  }
  .page {
    padding: .5em;
    border-collapse: collapse;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 0;
  margin-top: 0;
}

hr {
  margin: 6px;
}

a {
  text-decoration: none;
  color: $dark_grey;
  background-color: transparent;

  &:hover {
    color: white;
    background-color: $dark_grey;
  }
}

a.sort_link {
  color: $bright_blue;
  &:hover {
    background-color: $bright_blue;
    color: white;
  }
}

#search, #search-left {
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.formtastic {
  li.input {
    padding: 0;
    margin: 0;
  }

  label {
    font-weight: bold;
  }
}

#banner {
  min-height: 120px;

  #logo {
    color: white;
    padding: 10px 10px 10px 20px;

    img {
      background-color: black;
    }
  }

  #banner_text {
    font-weight: bold;
    div {
      margin-bottom: .2em;
      a {
        color: inherit;
      }
    }
  }

  #emergency_button {
    margin-top: 6px;
    margin-right: 6px;
  }

  .not-emerg, .reverse {
    @extend .btn;
    @extend .btn-default;
  }
  .not-emerg {
    @extend .btn-danger;
    /*background-color: $emergency_bg;
    color: $emergency_fg;

    &:hover {
      color: $emergency_bg;
      background-color: $emergency_fg;
    }*/
  }

  .reverse {
    @extend .btn-default;
    color: $btn-danger-bg;
    &:hover {
      color: $btn-danger-color;
      background-color: $btn-danger-bg;
      border: thin solid $btn-danger-bg;
    }
  }
}

.odd {
  background-color: $light_grey;
}

div.button {
  margin-top: 12px;
  margin-bottom: 12px;
}

.inline-button {
  display: inline-block;
}

div.small-button {
  margin-top: 4px;
  margin-bottom: 4px;
}

//a.button, input[type="submit"] {
//  padding: 12px;
//  margin: 0px;
//  box-sizing: content-box;
//  white-space: normal;
//  -webkit-appearance: none;
//  display: inline;
//  height: auto;
//  line-height: normal;
//  border-radius: 10px;
//
//  font-family: inherit;
//  font-size: 1.2em;
//  font-weight: bold;
//  text-align: center;
//}

a.small-button {
  padding: 4px;
}

a.button {

  background-color: $dark_grey !important;
  color: white !important;

  &:hover {
    color: $dark_grey !important;
    background-color: white !important;
    border: thin solid $dark_grey !important;
  }
}

//a.submit-button, input[type="submit"] {
//  background-color: $green;
//  color: white;
//  border: none;
//
//  &:hover {
//    color: $green;
//    background-color: white;
//    border: thin solid $green;
//  }
//
//}

.odd {
  a.button {
    background-color: white;
    color: $dark_grey;
    border: thin solid $dark_grey;

    &:hover {
      color: white;
      background-color: $dark_grey;
    }
  }
}

.reported_missing {
  background-color: $missing_bg;
}

.found {
  background-color: $found_bg;
}

.normal#banner {
  background-color: $no_issues_bg;
  color: $no_issues_fg;
}

.active#banner {
  background-color: $active_issues_bg;
  color: $active_issues_fg;
}

.messages#banner {
  background-color: $messages_bg;
  color: $messages_fg;
}

.emergency#banner {
  background-color: $emergency_bg;
  color: $emergency_fg;
}

#menubar {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  background-color: $nav_bar_bg;
  color: $nav_bar_fg;

  a.tab {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 3px;
    border: 1px solid #778;
    border-bottom: none;
    background-color: $nav_bar_tab_bg;
    color: $nav_bar_tab_fg;

    &:hover, &.active {
      color: $nav_bar_tab_bg;
      background-color: $nav_bar_tab_fg;

      .active:hover {
        background-color: $nav_bar_tab_bg;
        color: $nav_bar_tab_fg;
      }
    }
  }

  li {
    font-weight: bold;
    font-size: $font-size-base;
    margin-top: 6px;
  }
}

#notice {
  color: black !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#welcome {
  border: thin solid $green;
  background-color: $green_desat;
  padding: 1em;
  margin-top: 1em;
  margin-right: 1em;
}

#columns {
  min-height: 500px;
  #main {
    min-height: 500px;
    width: 80%;
    float: left;
  }

  #side {
    margin: 0;
    padding: 0;
    float: left;
    width: 20%;
    min-height: 500px;

    a {
      margin-right: .5em;
      background-color: inherit;
      color: $sidebar_fg;
      display: block;

      &:hover {
        color: $sidebar_bg;
        background-color: $sidebar_fg;
        border: thin solid $sidebar_bg;
      }
    }

    ul {
      width: 100%;
      float: left;
      padding: 0;
      margin-left: 0;
      font-size: .8em;

      li {
        list-style: none;
        margin: .5em;
        padding: .5em;
      }
    }
  }
}

#indicia {
  clear: both;
  padding: 10px;
  border-top: 2px solid;
  font: small-caps 10px/10px "Palatino", "Times New Roman", serif;
  text-align: center;
}

.con_on_rails_form {
  fieldset {
    legend {
      font-size: larger;
      font-weight: bold;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none;
    }
  }
}

.ui-autocomplete {
  background-color: $light_grey;
  color: black;
  border: thin solid black;
  width: 200px;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

}

#cork-board {
  position: relative;
}

.cork-board {
  position: relative;
  background-image: url(image_path('expanded-cork.jpg'));
  min-height: 100px;
  max-height: 100px;
  margin-bottom: 12px;
  overflow: auto;
  white-space: nowrap;
}

.index-card {
  background-color: white;
  color: black;
  border: thin solid black;
  height: 80px;
  width: 170px;
  margin: 5px;
  padding: 5px;
  float: left;
  white-space: pre-wrap;
  overflow: auto;

  .card-text {
    font-size: 12px;
  }
}

.selected-card {
  background-color: blue;
  color: white;
}

.cork-board-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  width: auto;
  height: auto;
  background-color: white;
  font-size: 12px;
  z-index: 99;
}

.tiny {
  font-size: .7em;
  line-height: .7em;
  padding-bottom: 6px;
}

.help {

}

div.clear-filters-button {
  margin: 0;
}

div.filters-header {
  margin-bottom: 6px;
}

.menuicon {
  display: inline-block;
  margin-right: 9px;
}

.inactive-icon {
  color: lightgrey;
}

.active-sidebar {
  @extend .glyphicon;
  @extend .glyphicon-flash;
  color: green;
}

.active-icon {
  @extend .glyphicon;
  @extend .glyphicon-flash;
  @extend .menuicon;
}

.sticky-icon {
  @extend .glyphicon;
  @extend .glyphicon-pushpin;
  @extend .menuicon;
}

.secure-icon {
  @extend .glyphicon;
  @extend .glyphicon-lock;
  @extend .menuicon;
}

.filter-icon {
  @extend .glyphicon;
  @extend .glyphicon-ok-circle;
  @extend .menuicon;
}

.emergency-icon {
  @extend .glyphicon;
  @extend .glyphicon-exclamation-sign;
  @extend .menuicon;
}

.medical-icon {
  @extend .glyphicon;
  @extend .glyphicon-plus-sign;
  @extend .menuicon;
}

.message-icon {
  @extend .glyphicon;
  @extend .glyphicon-envelope;
  @extend .menuicon;
}

.current-icon {
  color: green;
}
