// Place all the styles related to the lost_and_found_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

#lost_and_found_search_form {
  label {
    font-weight: bold;
  }
}

.lost_and_found_items {
  abbr {
    color: red;
  }

  .formtastic {
    fieldset {
      padding: 0;
      margin: 0;
      ol {
        padding: 0;
        margin: 0;

        li.input {
          padding: 0;
          padding-top: 3px;
          margin: 0;

          label {
            font-weight: bold;
          }
        }
      }
    }
  }

  textarea {
    height: 100px;
  }
}

.reported_missing {
  background: $missing_bg;

  input[type='submit'] {
    color: black;
    background-color: $missing_button_bg;

    &:hover {
      background-color: black;
      color: $missing_button_bg;
      border: thin solid $missing_button_bg;
    }
  }
}

.found {
  background: $found_bg;
}

.returned {
  background: $returned_bg;
}

.inventoried {
  background: $inventoried_bg;
}

.item_missing_button {
  background-color: $missing_button_bg;
  color: black;

  &:hover {
    color: $missing_button_bg;
    background-color: black;
    border: thin solid $missing_button_bg;
  }
}

.item_found_button {

  background-color: $found_button_bg;
  color: white;

  &:hover {
    color: $found_button_bg;
    background-color: white;
    border: thin solid $found_button_bg;
  }
}

.item_returned_button {
  background-color: $returned_button_bg;
  color: white;

  &:hover {
    color: $returned_button_bg;
    background-color: white;
    border: thin solid $returned_button_bg;
  }
}

.item_inventoried_button {
  background-color: $inventoried_button_bg;
  color: white;

  &:hover {
    color: $inventoried_button_bg;
    background-color: white;
    border: thin solid $inventoried_button_bg;
  }
}

input[type='submit'].lost-and-found-search-button {
  font-size: 24px;
  padding-right: 24px;
  padding-left: 24px;
}
