// Place all the styles related to the Volunteers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

body.volunteers
{
  #create-user-for-vol
  {
    border:  thin solid blue;
    padding: 1em;
    span.ui-dialog-title
    {
      background-color: $blue;
      color:            white;
      padding:          1em;
      margin:           0;
    }
  }

  li.input
  {
    padding: 0;
    margin:  0;
  }

  #new_volunteer, #edit_volunteer
  {
    label
    {
      width:         20%;
      padding:       0;
      padding-right: 6px;
      font-weight:   bold;
      display:       inline;
    }
  }

  #volunteer-info
  {
    input
    {
      width: 70%
    }
  }

  #user-info
  {
    border: thin solid black;
    float:  right;
    width:  150px;
  }

  #training-show
  {
    width:   150px;
    float:   right;
    border:  thin solid black;
    padding: .5em;

    .label
    {
      font-weight: bold;
      float:       left;
      width:       80%;
    }
    .check
    {
      float:      left;
      width:      20%;
      text-align: right;
    }
  }

  #trainings
  {
    padding-top: 6px;
    .boolean label
    {
      padding: 6px;
      width:   100%;
    }
    li.input
    {
      float: left;
      width: 30%;
    }
  }
  #commands
  {
    clear: left;
  }

  .label
  {

  }

  div.name
  {
    font-weight: bold;
    font-size:   1.2em;
  }

  .info-label
  {
    font-weight: bold;
  }

  .info
  {
    display: inline
  }

  .check
  {
    float: right;
  }

  a.clear-all
  {
    background-color: $emergency_bg;
    color:            $emergency_fg;

    &:hover
    {
      color: $emergency_bg;
      background-color: $emergency_fg;
      border: thin solid $emergency_bg;
    }
  }
}